$defaultFont: Arial, Helvetica, sans-serif;
$calculatorFont: calculator, monospace;

$color1: #fbfff1;
$color2: #b4c5e4;
$color3: #3d52d5;
$color4: #090c9b;
$color5: #3c3744;

$boxShadowButton: 3px 3px 8px rgb(0, 0, 0, 50), -3px -3px 8px $color5;
