@charset "UTF-8";

@import "./reset.css";
@import "./fonts";
@import "./variables";
@import "./functions";

@import "../pages/home/home.css";
@import "../pages/calc/calc.css";
@import "../pages/average/average.css";
@import "../pages/bmi/bmi.css";
@import "../pages/pitagoras/pitagoras.css";
@import "../pages/area/area.css";

body {
  min-height: 100vh;
  font-family: $defaultFont;
}

.mainContainer {
  min-height: 100vh;

  @include flexCenter;
  flex-flow: column wrap;

  gap: 16px;

  background: $color4;

  .mainContainer__form {
    width: 100vw;
    max-width: 328px;

    border-radius: 8px;
    padding: 8px;
    gap: 8px;

    background: #1d1d1d linear-gradient(135deg, #1d1d1d, #4d4d4d, #1d1d1d);
    box-shadow: $boxShadowButton;

    @include flexCenter;
    flex-flow: column wrap;

    overflow: hidden;

    #form__inputNumber {
      width: 100%;

      border-radius: 100rem;
      border: 2px solid $color3;
      padding: 8px;
    }

    .mainContainer__button {
      padding: 8px;
      border-radius: 100rem;
      border: 2px solid $color3;

      box-shadow: $boxShadowButton;
      color: $color1;

      &:last-child {
        background: $color3;
      }
    }
  }
}

.returnButton {
  text-decoration: none;
  position: fixed;
  z-index: 999;

  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);

  @include gridCenter;

  padding: 8px;
  border-radius: 50%;

  box-shadow: $boxShadowButton;
  color: $color1;

  transition: all ease 0.2s;
}
