@charset "UTF-8";

@import "./reset.css";
@import "./fonts";
@import "./variables";
@import "./functions";

@import "../pages/home/home.css";
@import "../pages/calc/calc.css";
@import "../pages/average/average.css";
@import "../pages/bmi/bmi.css";
@import "../pages/pitagoras/pitagoras.css";
@import "../pages/area/area.css";

body {
  min-height: 100vh;
  font-family: $defaultFont;
}

.mainContainer__returnButton {
  text-decoration: none;
  position: fixed;
  z-index: 999;
  left: 1rem;
  top: 1rem;

  display: grid;
  place-items: center;

  color: $color1;

  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: $boxShadowButton;

  transition: all ease 0.2s;
}
