main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main__Botoes {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.main__Botoes a {
  text-decoration: none;
  color: #fff;
  background-color: var(--cor2);
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
}

.main__Botoes a:hover {
  background-color: var(--cor1);
}

#main__Iframe {
  width: 100vw;
  height: 100%;
}
