body {
  min-height: 100vh;

  background: var(--color5) linear-gradient(135deg, #000, var(--color5), #000);
}

.main-menu {
  min-height: 100vh;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main-menu__link {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: var(--color1);

  padding: 24px;
  border-radius: 100rem;
  box-shadow: var(--boxShadowButton);

  transition: all ease-out 0.3s;
}

.main-menu__link:active {
  transform: scale(0.9);
}

footer {
  width: 100vw;
  position: relative;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background-color: var(--color2);
  box-shadow: inset -2px -2px 8px #000, inset 2px 2px 8px #fff;
}

footer section:last-child {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  text-align: center;
}

footer section:last-child .footer__link-social {
  color: #000;

  padding: 10px 0px;

  cursor: pointer;
}

footer section:last-child .footer__link-social .fa-brands {
  padding-right: .3rem;
}
