main {
  width: 500px;

  background-color: #dbdbdb;
  border-radius: 30px;
}

main form {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

main form > div {
  display: flex;
  width: 100%;
}

main form div:first-child {
  margin-right: 20px;
}

main form div > div {
  width: 50%;
}

main form #form__peso,
#form__altura {
  border: 2px solid var(--cor4);
  background-color: #fff;
  border-radius: 8px;
  padding: 6px;

  width: 100%;
}

main form #calc__botao {
  align-self: center;
  width: max-content;

  border-radius: 50px;
  margin-top: 10px;

  background-color: var(--cor3);
  padding: 8px 20px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

main form #calc__botao:hover {
  transform: scale(1.05);
  background-color: var(--cor1);
  box-shadow: 0px 0px 5px black;
  color: var(--cor5);

  transition: all ease 0.2s;
}
