.main__container {
  background-image: linear-gradient(75deg, #111, #444);
  padding: 20px;
  border-radius: 50px;
  scale: 0.8;
}

.main__container #calc__visor {
  font-family: Calculadora;
  color: #00ff00;
  margin: 20px 0px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.main__container #calc__visor p {
  font-size: 4rem;
}

.main__container #calc__visor p#calc__visor-anterior {
  font-size: 3rem;
  opacity: 0.6;
}

.main__container .calc__teclado {
  width: 100%;
}

.main__container .calc__teclado .tecla {
  font-family: Calculadora;
  font-size: 3rem;
  font-weight: 500;
  border-radius: 30px;
  border: 5px groove #fff #222;
  background-image: linear-gradient(75deg, #444, #111, #444);
  color: white;
  margin: 5px;
  cursor: pointer;

  width: 100px;
  height: 100px;
}

.main__container .calc__teclado .tecla:hover {
  background-image: linear-gradient(75deg, #555, #222, #555);
  transition-duration: 3s;
}

.main__container .calc__teclado .tecla .fa-solid {
  font-size: 2rem;
}

.main__container .calc__teclado .tecla::selection {
  background-color: transparent;
}
