.main__container {
  background-color: #b3b3b3;
  border: 5px outset rgb(24, 24, 24);
  border-radius: 8px;
  width: 300px;
  padding: 12px;
}

.main__container #calc__visor {
  background-color: #f1f1f1;
  border: 5px outset gray;
  font-size: 2.5rem;
  height: 50px;
  margin-bottom: 12px;
  padding-right: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main__container .calc__teclado {
  width: 100%;

  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.main__container .calc__teclado .tecla {
  width: 65px;
  height: 65px;
  border: none;

  margin: 5px;

  font-weight: 500;
  font-size: 1.5em;
  background-color: transparent;
}

.main__container .calc__teclado button.tecla {
  box-shadow: -6px -6px 8px #ffffff9f;
}

.main__container .calc__teclado button.tecla:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  transform: scale(1.1);
  transition-duration: 0.1s;
}

.main__container .calc__teclado .tecla::selection {
  background-color: transparent;
}
