.main__container {
  background-color: #333;
  box-shadow: 10px 10px 0px #000;
  border-radius: 50px;
  padding: 10px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  scale: 0.8;
}

.main__container #calc__visor {
  font-family: Calculadora;
  color: #fff;
  margin: 20px 0px;
  font-weight: 500;
  height: 100px;
  width: 100%;
  max-width: 360px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.main__container #calc__visor p {
  font-size: 4rem;
  word-wrap: break-word;
}

.main__container #calc__visor p#calc__visor-anterior {
  font-size: 3rem;
  opacity: 0.6;
}

.main__container .calc__teclado {
  width: 100%;
}

.main__container .calc__teclado .tecla {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Calculadora;
  font-size: 3rem;
  font-weight: 500;
  border-radius: 30px;
  border: 5px groove #fff #222;
  background-image: linear-gradient(75deg, #444, #111, #444);
  box-shadow: 6px 6px 0px #000;
  color: white;
  margin: 5px;
  cursor: pointer;

  width: 100px;
  height: 100px;
}

.main__container .calc__teclado .operador {
  background-image: linear-gradient(75deg, #008cff, #006dc7, #008cff);
}

.main__container .calc__teclado .igual {
  font-family: Calculadora;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;

  border-radius: 30px;
  border: 5px groove #fff #222;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.main__container .calc__teclado .tecla:hover {
  background-image: linear-gradient(75deg, #555, #222, #555);
}

.main__container .calc__teclado .operador:hover {
  background-image: linear-gradient(75deg, #249dff, #008cff, #249dff);
}

.main__container .calc__teclado .tecla .fa-solid {
  font-size: 2.8rem;
}

.main__container .calc__teclado .tecla::selection {
  background-color: transparent;
}
