:root {
  --font-default: Arial, Helvetica, sans-serif;

  --cor1: #3baee6;
  --cor2: #408fb9;
  --cor3: #287399;
  --cor4: #1d5570;
  --cor5: #133647;
}

body,
html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: var(--font-default);
  background: var(--cor5) linear-gradient(145deg, #287399, #133647);
}

.header {
  width: 100vw;
}

.header__menuhamburguer {
  position: absolute;
  left: 20px;
  top: 20px;
}

.header__menuhamburguer span {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;

  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.404);

  font-size: 30px;
}

.header__menuhamburguer span:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.header__menuhamburguer ul {
  display: block;
  position: fixed;
  left: 0;
  margin-top: 10px;
}

.header__menuhamburguer ul li {
  padding: 10px;
  background-color: var(--cor5);
  border-bottom: 2px solid black;
  text-align: center;

  cursor: pointer;
}

.header__menuhamburguer ul li:hover {
  transform: scale(1.05);
  background-color: var(--cor4);
}

.header__menuhamburguer ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
}

.header__title {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  color: #fff;
  text-shadow: -2px 2px 8px rgba(0, 0, 0, 0.404);
}

.header__title .title {
  font-size: 1.8rem;
  font-weight: 700;
}

.header__title .subtitle {
  font-size: 1.3rem;
  font-weight: 500;
}

.main__container {
  background-color: #b3b3b3;
  border: 5px outset rgb(24, 24, 24);
  border-radius: 8px;
  width: 300px;
  padding: 12px;
}

.main__container #calc__visor {
  background-color: #f1f1f1;
  border: 5px outset gray;
  font-size: 2.5rem;
  height: 50px;
  margin-bottom: 12px;
  padding-right: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main__container .calc__teclado {
  width: 100%;

  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.main__container .calc__teclado .tecla {
  width: 65px;
  height: 65px;
  border: none;

  margin: 5px;

  font-weight: 500;
  font-size: 1.5em;
}

.main__container .calc__teclado button.tecla {
  background-color: #dadada;
}

.main__container .calc__teclado button.tecla:hover {
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  transform: scale(1.1);
  transition-duration: 0.1s;
}

.main__container .calc__teclado .tecla::selection {
  background-color: transparent;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  background-color: #fff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.404);
}

footer .social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 446px;
  padding: 10px 20px;

  background-color: #f1f1f1;
  border-radius: 8px;
}

footer .social-media .media {
  text-decoration: none;
  color: #000;

  padding: 10px 0px;
}

footer .social-media .media:hover {
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
  transition-duration: .3s;
}

footer .social-media .media .fa-brands {
  padding-right: 10px;
}
