@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
    --font-default: Arial, Helvetica, sans-serif;
    --font-default2: 'Kdam Thmor Pro', sans-serif;

    --cor1: #3BAEE6;
    --cor2: #408fb9;
    --cor3: #287399;
    --cor4: #1D5570;
    --cor5: #133647;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--font-default);
    color: white;
    background: linear-gradient(195deg, var(--cor1), var(--cor5)) fixed;
    background-size: auto;
    background-position: center;
    height: 100%;
    text-align: center;
    margin: auto;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 30px;
}

body.principal {
    padding: 2em;
}

h1, h2 {
    font-family: var(--font-default2);
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.466);
    font-size: 3em;

}

a {
    text-decoration: none;
}

div.btnmenu {
    background-image: radial-gradient( var(--cor3), var(--cor4));
    color: white;
    border-style: solid;
    border-color: var(--cor5);
    margin-top: 10px;
    margin-left: 10pt;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    height: 90px;
    line-height: 90px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.171);
}

div.btnmenu:hover {
    color: var(--cor1);
    background: var(--cor5);
    border-color: var(--cor2);
    padding: 0.3em;
    transition-duration: 0.2s;
}

div.btnmenu:active {
    background: var(--cor1);
}

div.btnmenu > p {
    font-size: 27px;
}

div.btnmenu:hover > p {
    font-size: 29px;
    transition-duration: 0.5s;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
}

#container {
    display: flex;
    flex-flow: row wrap;
}

#lista {
    background-color: var(--cor5);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

#lista::-webkit-scrollbar {
    appearance: none;
}

.calculadora {
    margin: auto;
    justify-content: center;
    background: #1d54704f;
    border-style: solid;
    border-color: var(--cor5);
    border-radius: 8px;
    height: 510px;
    width: 300px;
    padding-top: 20px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.301);
}

.num::-webkit-inner-spin-button,
.num::-webkit-outer-spin-button {
    appearance: none;
}

.numimc p {
    font-size: 20px;
    display: block;
}

div#listacalc {
    height: 280px;
    margin-left: 30px;
}

.metro {
    width: 370px;
}

select#lista {
    width: 250px;
}

#btnadd {
    width: 160px;
}

.btn {
    font-family: var(--font-default);
    font-size: 1.5em;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background-color: var(--cor1);
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    border-style: groove;
    border-color: var(--cor4);
    margin: 10px;
    margin-top: 10px;
}

.btn:active {
    background: var(--cor5);
}

.btn:hover {
    background: var(--cor3);
    transition-duration: 0.2s;
}

#res {
    padding-top: 10px;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.404);
}

.res::first-line {
    font-size: 1.5em;
    text-decoration: underline;
}

.res {
    font-size: 2em;
}

p {
    display: inline;
    font-size: 35px;
    text-shadow: -2px 2px 7px rgba(0, 0, 0, 0.432);
}

.num {
    height: 50px;
    font-size: 50px;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.384);
}

img {
    width: 50px;
    margin-top: 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.432);
}