$defaultFont: Arial, Helvetica, sans-serif;
$calculatorFont: calculator, monospace;

$colorwhite: #f9f9f9;
$colorblack: #4a4a4a;
$color1: #d45039;
$color2: #f29f00;
$color3: #3a6a9a;
$color4: #39d4d4;
