@charset "UTF-8";

// INFO: Importando variáveis
@import "variables";
// INFO: Importando mixins
@import "mixins";
// INFO: Importando reset
@import "reset";

@font-face {
  font-family: calculator;
  src: url(../../fonts/Calculator.ttf);
}

// INFO: Importando estilos de páginas
@import "pages/home";
@import "pages/calc";
@import "pages/average";
@import "pages/bmi";
@import "pages/pitagoras";
@import "pages/weightedAverage";
@import "pages/standardDeviation";

body {
  display: flex;
  flex-direction: column;

  min-height: 100dvh;

  background-color: $colorDarkBg;
  font-family: $defaultFont;
  color: $colorTextPrimary;
}

.return-button {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: $colorSecondary;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $colorPrimary;
  }
}
